  <nav class="tabs">
    <%= image_tag 'food.jpg', class: 'food' %>
    <div class="content">
      <ul class="labels">
        <li class="pres-lab">Présentation</li>
        <li class="menu-lab">Menu</li>
        <li class="team-lab">L'équipe</li>
      </ul>
      <div class="pres">
        <div class="text">
           Une mafia est une organisation criminelle dont les activités sont soumises
           à une direction collégiale occulte et qui repose sur une stratégie d’infiltration
           de la société civile et des institutions. On parle également de système mafieux.
           Les membres sont appelés « mafieux » (sans distinction de nombre), ou
           parfois « mafiosi », d’après le nom italien (au singulier : « mafioso »).
         </div>
      </div>
      <div class="menu">
        <div class="text">
          <p>Le menu n'affiche que des spécialités italiennes préparées par nos meilleurs cuistots.</p>
          <center>
            Ravioli Genovese de poulet
            <hr>
            Pâtes bresaola et épinards à l'italienne
            <hr>
            Tiramusi au citron ou limonemisu
          </center>
        </div>
      </div>
      <div class="team">
        <div class="text">
          <p>Considérée comme la mafia de la pizza,</p>
          <p>notre équipe préfère néanmoins faire tourner la pâte plutôt que le révolver.</p>
          <div class="names">
            <div class="names1">
              <p>Gino</p>
              <p>Regina</p>
              <p>Giovanni</p>
              <p>Pippo</p>
            </div>
            <div class="vr"></div>
            <div class="names2">
              <p>Nicoletta</p>
              <p>Giuseppe</p>
              <p>Isabella</p>
              <p>Carolina</p>
            </div>
          </div>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="carousel1">
      <div class="carousel_panorama">

        <div class="item">
          <div class="item_image">
            <%= image_tag 'pasta.jpg' %>
          </div>
        </div>
        <div class="item">
          <div class="item_image">
            <%= image_tag 'pizza2.jpg' %>
          </div>
        </div>
        <div class="item">
          <div class="item_image">
            <%= image_tag 'salade.jpg' %>
          </div>
        </div>
      </div>
    </div>
    <div class="buttons">
      <button type="button" name="" class="btn_carousel"></button>
      <button type="button" name="" class="btn_carousel"></button>
      <button type="button" name="" class="btn_carousel"></button>
    </div>
    <%= image_tag 'arrow.png', class: 'arrow_right' %>
    <%= image_tag 'arrow.png', class: 'arrow_left' %>
  </div>
